header {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin-bottom: 15px;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #343a40;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #495057;
}